# Ignore virtual environment folders
.venv/
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/project settings
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore build and distribution folders
build/
dist/
*.egg-info/
